<header class="mui-bar mui-bar-nav">
  #if($!header.leftBtn)
    <a class="$!header.leftBtn"></a>
  #end
  #if($!header.rightBtn)
    <a class="$!header.rightBtn" #if($!header.rightUrl)onclick="javascript:location.href='$!header.rightUrl';"#end></a>
  #end
  <h1 class="mui-title">$!header.title</h1>
</header>